<ol>
{{#posts}}
    <li>
        <a href="{{post-url}}">
            <h2>{{title}}</h2>
            {{#subtitle}}
                <p class="post-subtitle">{{{.}}}</p>
            {{/subtitle}}
        </a>
    </li>
{{/posts}}
</ol>
